.customers
    &__slider
        position: relative

    &__box
        width: 400px
        min-height: 230px
        background: #FFFFFF
        border: 2px solid #DDDDDD
        border-radius: 10px
        padding: 30px
        margin: 0 50px 0 0
        &:first-child
            border-color: #F53838
        &:last-child
            margin: 0
        &-header
            display: flex
            justify-content: space-between
            height: 50px
            margin: 0 0 20px
    &__info
        display: flex
        img
            margin: 0 20px 0 0
