.menu
    display: flex
    justify-content: space-between
    list-style: none
    width: 100%
    &__item
        margin: 0 20px
        &-link
            color: $text
            text-decoration: none
            &:hover
                text-decoration-line: underline
                text-decoration-color: $main-color

.navbar-expand-lg .navbar-collapse
    justify-content: flex-end
.navbar-nav
    margin: 0 auto
